<%- include("partials/header.ejs") %>
<div class="order-header">
  <p class="order-header-id">ID</p>
  <p class="order-header-amount">Amount</p>
  <hr class="rounded order-divider">
</div>
<%for(var i = 0; i < items.length; i++) {%>
  <div class="order-items">
    <p class="order-id"><%= i+1 %></p>
    <p class="order-amount"><%= items[i] %> BTC</p>
    <input type="checkbox" class="order-checkbox">
    <hr class="rounded order-divider">
  </div>
  <%}%>
<%- include("partials/footer.ejs") %>