html,
body {
  height: 100%;
}

body {
  background-color: rgb(255,255,255);
}

.signup {
  margin: auto 0%;
}

.login {
  margin: auto 2%;
}

.navbar-brand {
  font-size: 2rem;
}

.order-header-wrapper {
  border-style: solid;
  border-width: 0.2rem;
  border-right-width: 0;
  margin: 0;
}

.order-header-id {
  display: inline;
  margin: 0 1%;
}

.order-header-amount {
  display: inline;
  margin: 0 3%;
}

.order-header-wallet {
  display: inline;
  margin: 0 30%;
}

.order-header {
  /* margin: 1% 2%; */
  /* display: inline-block; */
}

.market-divider-wrapper {
  border-style: solid;
  border-width: 0.2rem;
  margin: 0;
}

.markets-divider {
  display: inline-block;
  /* flex-direction: column; */
  /* -webkit-box-orient: vertical; */
}

.market-prices {
  display: inline-block;
}

.currency-names {
  display: inline-block;
}
.order-items {
  margin: 1% 0;
}

.order-id {
  display: inline-block;
  margin: 0 1%;
  font-size: 1.5rem;
}

.order-amount {
  display: inline-block;
  margin: 0 2%;
  font-size: 1.5rem;
  /* top-bottom left-right */
}

.order-address {
  display: inline-block;
  margin: 0 2%;
  font-size: 1.5rem;
  /* top-bottom left-right */
}

.order-checkbox {
  /* display: block; */
  float: right;
  zoom: 2.9;
  margin: auto 0%;
}

.order-divider {
  border-top: 6px solid;
  border-color: rgb(77, 77, 78);
  margin: 1% 0;
}